.container {
//    width: 1640px;
    width: 87.5%;
    max-width: 100%;
    margin: auto;
    
//    @media screen and (max-width: $screen-lg) {
//        width: 1240px;
//    }
//    
//    @media screen and (max-width: $screen-md) {
//        width: 960px;
//    }
//    
//    @media screen and (max-width: $screen-sm) {
//        width: 690px;
//    }
}