$color-main: #181ea9;
$color-main-light: #f0f3fa;
$color-white: #fff;
$color-black: #000;

$screen-lg: 1660px;
$screen-md: 1200px;
$screen-sm: 768px;

$gutter: 30px;

$col-1: 8.333%;
$col-2: 16.666%;
$col-3: 25%;
$col-4: 33.333%;
$col-5: 41.666%;
$col-6: 50%;
$col-7: 58.333%;
$col-8: 66.666%;
$col-9: 75%;
$col-10: 83.333%;
$col-11: 91.666%;
$col-12: 100%;

$font-primary: 'Suisse', sans-serif;
$font-secondary: 'Aktiv', sans-serif;